.Footer {
  max-width: 500px;
  margin: 5px auto;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.footerLink {
  text-decoration: underline;
  color: #ecb80d;
  font-size: 15px;
}
.footerLink:hover {
  color: #ecb80d;
  cursor: pointer;
}
